.vjs-chapter-marker {
  position: absolute;
  top:0;
  height: 100%;
  cursor: pointer;
  /*更好点击*/
  z-index: 5;
  padding: 5px;
  margin-left: calc(-2.5px - .15em);
  top: -2.5px;
}
.vjs-chapter-marker:before {
  content: '';
  opacity: 1;
  position: absolute;
  width: 0.3em;
  height: 0.3em;
  border: none;
  /*border-radius: 1em;*/
  background: rgb(248 187 208 / 50%);
  cursor: pointer;
  /*更好点击*/
  top: 2.5px;
  left: calc(2.5px);
}

.vjs-chapter-marker-title {
  font-size: .5em;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  position: relative;
  top: -4.4em;
  text-align: center;
  left: -48%;
  padding: 6px 8px 8px 8px;
  background: rgba(173, 20, 86, 0.85);
  border-radius: 0.3em;
  z-index: 4;
  transition: opacity ease .4s;
}
.vjs-chapter-marker:hover .vjs-chapter-marker-title {
  opacity: 1;
}